body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#button-list {
    display: flex;
    flex-direction: column;
}

#etch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 580px;
    height: 70px;
    background-color: red;
    border-radius: 60px 60px 0px 0px;
    font-family: "Lucida Handwriting", cursive;
    font-size: 25px;
    font-weight: 700;
}

#outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: cornsilk;
    border: 40px solid red;
    border-radius: 0px 0px 35px 35px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

#container div {
    background-color: cornsilk;
}