body {
    margin: 0;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container div {
    background-color: pink;
    display: flex;    
    min-width: 6.25vw;
    min-height: 6.25vh;
    justify-content: center;
    align-items: center;
}